@import url('https://fonts.googleapis.com/css2?family=JetBrains+Mono:ital,wght@0,100..800;1,100..800&display=swap');

*{
    font-family: "JetBrains Mono", monospace;
}

.card {
    aspect-ratio: 3 / 2;
    background-color: coral;
    border-radius: 10px;
    width: auto;
    grid-column: auto;
    grid-row: auto;
}

.card-holder {
    overflow: scroll;
    display: grid;
    gap: 5px;
    grid-template-columns: repeat(2, 1fr);
    grid-template-rows: repeat(5, 1fr);
    grid-column-gap: 5px;
    grid-row-gap: 5px;
}

nav{
    background-color: #ffa0f79e;
    color: #3b2239;
    position: fixed;
    top: 0px;
    left: 0px;
    width: 100vw;
    height: 5%;
    align-content: space-around;
    padding-left: 2%;
    backdrop-filter: blur(6px);
}

nav a.home{
    color: #a0576e;
    font-weight: 600;
}

nav a{
    text-decoration: none;
    color: #3b2239;
    cursor: pointer;
}


body{
    background-color: #3b2239;
    color: #fff;

    padding-top: 5%;
}

h1{
    color: #fd7ff2;
}

/* ********** PROJECTS ************* */
.D-test{
    background-image: url("projects/thumbnails/3D test.png")
}