@import url('https://fonts.googleapis.com/css2?family=JetBrains+Mono:ital,wght@0,100..800;1,100..800&display=swap');

*{
    font-family: "JetBrains Mono", monospace;
    margin: 8px
}

html{
    margin: 0px;
}

.card {
    aspect-ratio: 3 / 2;
    background-color: coral;
    border-radius: 10px;
    width: auto;
    grid-column: auto;
    grid-row: auto;
    cursor: pointer;

    transition: 0.4s;
}

.card:hover {
    transition: 0.4s;
    
    transform: scale(0.98);
    filter: brightness(1.2);

}

.card-holder {
    overflow: scroll;
    display: grid;
    gap: 5px;
    grid-template-columns: repeat(2, 1fr);
    grid-template-rows: repeat(5, 1fr);
    grid-column-gap: 5px;
    grid-row-gap: 5px;
}

nav{
    background-color: #ffa0f79e;
    color: #3b2239;
    position: fixed;
    top: 0px;
    left: 0px;
    width: 100vw;
    height: 50px;
    align-content: space-around;
    padding-left: 2%;
    backdrop-filter: blur(6px);
    margin: 0px;
}

.navframe{
    height: 50px;
    border: none;
    margin: 0px;
}

nav a.home{
    color: #a0576e;
    font-weight: 600;
}

nav a{
    text-decoration: none;
    color: #3b2239;
    cursor: pointer;
}


body{
    background-color: #3b2239;
    color: #fff;

    padding-top: 50px;
    margin: 0px;
}

h1{
    color: #fd7ff2;
}

button{
    padding-left: 20px;
    padding-right: 20px;
    background-color: #FD7FFD;
    color: #3b2239;
    border: none;
    border-radius: 10000px;
    transition: 0.4s;
    font-size: 20;
}

button:hover {
    transform: scale(1.1);
    transition: 0.4s;
    background-color: #fff;
}

/* ********** PROJECTS ************* */
.D-test{
    background-image: url("projects/thumbnails/3D test.png");
    background-size: cover;
}

.pomr{
    background-image: url("projects/thumbnails/POMR wind banner.png");
    background-size: cover;
}

.banner{
    aspect-ratio: 4 / 1 !important;
    background-position: center !important;
    margin: 0px;
}